* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, aside, .content, footer {
  border: 1px solid #ccc;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    background: #764DA4;
    background: linear-gradient(270deg,rgba(118, 77, 164, 1) 0%, rgba(110, 100, 197, 1) 50%, rgba(102, 125, 233, 1) 100%);
    padding: 20px;
    color: white;
}

main {
  display: flex;
  flex: 1;
  border:none;
}

.content {
  padding: 20px;
    flex: 4;
}

nav {
    width: 200px;
    background-color: #F8F9FA;
    padding: 20px;
    flex: 1;
    
}

nav > ul{
    list-style: none;
    padding: 10px;
}

nav > ul > li {
    margin: 30px 0;
}

nav > ul > li > a {
    text-decoration: none;
    color: #000;
}

h3 {
  margin-bottom: 10px;
  color: #495057;
}

aside {
  width: 200px;
  background-color: #F8F9FA;
  flex: 1;
}

.main-header {
  color: #495057;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 1.5em;
}

.intro-text {
  padding: 10px;
  display: inline-block;
  /* font-size: 1.1em; */
}

.sidebar-header{
    padding-top: 20px;
    padding-left: 20px;
    color: #495057;
    /* font-size: 1.2em; */
}

.key-features {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.info-box {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.info-text {
  color: #6C757D;
  /* font-size: 0.9em; */
}

.sticky-footer {
  background-color: #343A40;
  height: 100px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.footer-content {
  color: white;
  padding: 20px;
  font-size: 1.2em;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color: #ACB5BD;
  text-decoration: none;
}