*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.container{
    width: 40%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #764DA4;
    background: linear-gradient(336deg,rgba(118, 77, 164, 1) 0%, rgba(110, 100, 197, 1) 50%, rgba(102, 125, 233, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

.header-section{
    text-align: center;
}

h1{
    font-size: 2rem;
    margin-bottom: 0;
    color: #333333;
    margin-top: 10px;
}

h5{
    font-size: 0.75rem;
    color: #555555;
}

p{
    margin-top: 0;
}

.name-section, .subject-section, .contact-preferences-section{
    width: 100%;
    display: flex;
    /* margin-bottom: 20px; */
    padding-left: 5px;
    padding-right: 5px;
}

.email-section, .message-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#subject, #priority, #message, #email, #first-name, #last-name{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333333;
    padding: 5px;

}

.label-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contact-label, label{
    font-weight: bold;
    margin-bottom: 5px;
    color:#555555;
}

.button-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* align-content: space-between; */
}

.save-draft, .send{
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.save-draft{
    background-color: #F8F9FA;
    color: #666666;
    border: 1px solid #ccc;
}

.send{
    background-color: #32C7FE;
    color: white;
    border: none;
}

select{
    font-weight: bold;
}